{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class = "kotak">
    <div class ="d-flex row flex-row justify-content-around my-flex-container">
        <div class= "p-2 my-flex-item col-lg-6">
          <div class = Education>
            <h1>Education</h1>
            <h3>WHAT I'VE LEARNED</h3>
            <br>
            <h4>2018 - Present</h4>
            <p>University of Indonesia - Depok, Information Systems</p>
            <h4>2016 - 2018</h4>
            <p>SMAN 5 Bogor, Class of 2018</p>
            <h4>2014 - 2016</h4>
            <p>SMPN 4 Bogor, Class of 2016</p>
        </div>
        </div>
        <div class= "p-2 my-flex-item col-lg-6">
          <div class = Experiences>
            <h1>Experiences</h1>
            <h3>WHAT I'VE WORKED</h3>
            <br>
            <h4>2019 - Present</h4>
            <p>OH Fasilkom UI, Liaison Officer Staff</p>
            <h4>May 2019 - Present</h4>
            <p>COMPFEST, Decoration and Costume Staff</p>
            <h4>Jan. 2019 - May 2019</h4>
            <p>Computers Get Together, Decoration Staff</p>
            <h4>Aug. 2017</h4>
            <p>Independence Day Celebration Staff at Komplek</p>
    </div>
        </div>
        <div class = garis>
             
          </div>
    </div>
</div> 
{% endblock content %}
