{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% if title == 'home' %}
            <title>Web Marandi</title>
            <link rel = "stylesheet" type = "text/css" 
                href= "{% static 'style.css' %}"> 

        {% elif title == 'exped' %}
            <title>Experience & Education</title>
           
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" type = "text/css"
            href="{% static 'bs.css' %}">

        {% elif title == 'skills' %}
            <title>Skills Marandi</title>
            <link rel = "stylesheet" type = "text/css" 
            href= "{% static 'styleskills.css' %}"> 

        {% elif title == 'contact' %}
            <title>Contact</title>
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" type = "text/css" 
            href="{% static 'bscontact.css' %}">            
        {% endif %}

        <meta charset="utf-8">
        <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
         

    </head>
    <body>
        <header>
            <div class= "menu-toggle"></div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">About</a> </li>
                        <li><a href="{% url 'exped' %}">Experience & Education</a></li>
                        <li><a href="{% url 'skills' %}">Skills</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'schedule' %}">Schedule</a></li>
                </ul>
            </nav>
        
        </header>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.menu-toggle').click(function(){
                    $('nav').toggleClass('active')
                })
            })
        </script>
        {% block content %}
        {% endblock content %}
    </body>

</html>