@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Roboto+Mono:300|Roboto:100i&display=swap");

body{
    margin : 0;
    padding : 0;
    background-color: #F6F5F3 !important;

}
.Education{
    color:#3D3D3F;
    width: 279px;
    height: 315px;
    margin-bottom: 50px;
    
}
.Education h1{
    font-family: "Roboto Mono", sans-serif;
    
    font-weight: 600;
    font-size: 48px;
    
}
.Education h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    
}
.Education p{
    font-family: "Montserrat", sans-serif;
    font-style : "Light";
    font-size : 18px;
    
}
.Education h3{
    font-family: "Roboto", serif;
    font-size:24px;
}
.Experiences{
    color:#3D3D3F;
}
.Experiences h1{
    font-family: "Roboto Mono", sans-serif;
    font-weight: 600;
    font-size:  48px;
    
}
.Experiences h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    
}
.Experiences p{
    font-family: "Montserrat", sans-serif;
    font-style : "Light";
    font-size : 18px;
}
.Experiences h3{
    font-family: "Roboto", serif;
    font-style: "Thin Italic";
    font-size:24px;
}

a{
    font-family: "Montserrat", sans-serif;
    font-weight : 500;
    font-size :  18px;
    line-height : 22px
}
nav{
    list-style: none;    
    padding-left: 1%; 
    padding-top : 1%; 
}
nav li{
    display: inline-block;
    padding: 0px 20px;
}
nav li a {
    transition: all 0.3s ease 0s;
    display: block;
    text-decoration: none;
}
nav li a:hover{
    color:#7dce94 
}
nav a{
    color:#3D3D3F

}
header {
    display : flex;
    align-items: center;
    
}
.garis{
    display: flex;
    position: absolute;
    width: 333px;
    height: 0px;
    left: 400px;
    top: 800px;
    border: 2px solid #3D3D3F;  
    transform: rotate(-0.14deg);
}
.kotak{
    padding-top: 5%;
    padding-left: 21%;
    padding-right: 7%;

}
@media only screen and (max-width: 375px){
    .garis{
        display: none;
        
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
    .Education{
        color:#3D3D3F;
        padding-right: 9%;
        
    }
    .Education h1{
        font-family: "Roboto Mono", sans-serif;
        font-weight: 600;
        font-size: 38px;
        
    }
    .Education h4{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        
    }
    .Education p{
        font-family: "Montserrat", sans-serif;
        font-style : "Light";
        font-size : 13px;
        
    }
    .Education h3{
        font-family: "Roboto", serif;
        font-size:16px;
    }
    .Experiences{
        color:#3D3D3F;
        width: 279px;
        height: 315px;
    }
    .Experiences h1{
        font-family: "Roboto Mono", sans-serif;
        font-weight: 600;
        font-size:  38px;
        
    }
    .Experiences h4{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        
    }
    .Experiences p{
        font-family: "Montserrat", sans-serif;
        font-style : "Light";
        font-size : 13px;
    }
    .Experiences h3{
        font-family: "Roboto", serif;
        font-style: "Thin Italic";
        font-size:16px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 376px){
    header {
        display : flex;
        padding-top:30px;
        padding-left: 5%; 
    }
    .garis{
        left: 150px;
        top: 1000px;
        border: 1px  solid #3D3D3F; 
    }
    .Education{
        color:#3D3D3F;
        
        
        
    }
    .Education h1{
        font-family: "Roboto Mono", sans-serif;
        font-weight: 600;
        font-size: 40px;
        
    }
    .Education h4{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 16px;
        
    }
    .Education p{
        font-family: "Montserrat", sans-serif;
        font-style : "Light";
        font-size : 15px;
        
    }
    .Education h3{
        font-family: "Roboto", serif;
        font-size:18px;
    }
    .Experiences{
        color:#3D3D3F;
        width: 279px;
        height: 315px;
    }
    .Experiences h1{
        font-family: "Roboto Mono", sans-serif;
        font-weight: 600;
        font-size:  40px;
        
    }
    .Experiences h4{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 16px;
        
    }
    .Experiences p{
        font-family: "Montserrat", sans-serif;
        font-style : "Light";
        font-size : 15px;
    }
    .Experiences h3{
        font-family: "Roboto", serif;
        font-style: "Thin Italic";
        font-size:18px;
    }
}
@media only screen and (max-width: 645px){
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
}
