@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Roboto+Mono:300|Roboto:100i&display=swap");


body{
    margin : 0;
    padding : 0;
    background-color: #F6F5F3 !important;

}
h1{
    color : #3D3D3F;
    font-family: "Roboto Mono", sans-serif;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 4%;
    font-weight: 600;
}
article{
    color : #3D3D3F;
    font-family: "Roboto Mono", sans-serif;
}
a{
    font-family: "Montserrat", sans-serif;
    font-weight : 500;
    font-size :  18px;
    line-height : 22px
}
nav{
    list-style: none;    
    padding-left: 1%; 
    padding-top : 1%; 
}
nav li{
    display: inline-block;
    padding: 0px 20px;
}
nav li a {
    transition: all 0.3s ease 0s;
    display: block;
    text-decoration: none;
}
nav li a:hover{
    color:#7dce94
}
nav a{
    color:#3D3D3F

}
header {
    display : flex;
    align-items: center;
    
}
.garis{
    display: flex;
    position: absolute;
    width: 333px;
    height: 0px;
    left: 400px;
    top: 800px;
    border: 2px solid #3D3D3F;  
    transform: rotate(-0.14deg);
}
@media only screen and (max-width: 375px){
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    nav{
        display: none;
        list-style:none;
    }
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
    .garis{
        display:none;
    }
    

}
@media only screen and (max-width: 768px) and (min-width: 376px){
    header {
        display : flex;
        padding-top:30px;
        padding-left: 5%; 
    }
    h1{
        font-size: 35px;
        margin-top: 40px;
    }
    .garis{
        left: 35px;
        top: 715px;
        border: 1px  solid #3D3D3F; 
    }
    
@media only screen and (max-width: 645px){
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    nav{
        display: none;
    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
}
}
